.header {
    background-color: #000;
    color: #fff;
    font-size: 400%;
    font-family: 'snell roundhand';
    margin-bottom: 5%;
    padding: 5%;
    text-align: center;
}
.text {
    margin: 5%;
    font-size: 150%;
    text-align: center;
    width: auto;
    padding: 2%;
}
.subhead {
    background-color: chocolate; 
    color: white;
    text-align: centre;
    padding: 10%;
    font-size: 375%;
}
.insite{
    height:750px;
    width: 800px;
    border-color: red;
}
table, th, td {
    border: 5px solid white;
    background-color: red;
  }

li:hover{
    color:green;
}