.header {
    background-color: #000;
    color: #fff;
    font-size: 100px;
    font-family: 'snell roundhand';
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.subhead {
    background-color: chocolate; 
    color: white;
    text-align: centre;
    padding-left: 2%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 50px;
}